<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="../static/css/mainWindow.css" type="text/css" rel="stylesheet" />
    <!--<link href="../static/css/form-grey.css" type="text/css" rel="stylesheet" />-->
    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script th:inline="javascript" src="../static/js/mainWindow.js"></script>
    <!--<link href="../css/mainWindow.css" type="text/css" rel="stylesheet" />-->
    <!--<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>-->
    <!--<script  src="../js/mainWindow.js"></script>-->
</head>
<body>

<div id="header">
    <div id="ioc"><img class="sign" src="../images/ioc.png" /></div>
    <h1>家庭财务管理系统</h1>
</div>

<div id="nav">
    <div class="model" id="sign01"><img class="sign" src="../images/sign01.png" /><br/>个人信息<br/></div>
    <div class="model" id="sign02"><img class="sign" src="../images/sign02.png" /><br/>账单模块<br/></div>
    <div class="model" id="sign03"><img class="sign" src="../images/sign03.png" /><br/>家庭模块<br/></div>
    <div class="model" id="sign04"><img class="sign" src="../images/sign04.png" /><br/>退出登录<br/></div>
</div>

<div id="section">

    <div id="userForm">
        <form>
            <img id="photoFile" th:src="${session.sessionUser.photo}"/>
            <p>ID：</p><div th:text="${session.sessionUser.id}"></div>
            <p>账号：</p><div th:text="${session.sessionUser.userId}"></div>
            <p>昵称：</p><div th:text="${session.sessionUser.userName}"></div>
            <p>手机：</p><div th:text="${session.sessionUser.mobile}"></div>
            <p>性别：</p><div th:text="${session.sessionUser.sex}"></div>
            <p>总支出：</p><div th:text="${session.sessionUser.allSpending}"></div>
            <p>总收入：</p><div th:text="${session.sessionUser.allIncome}"></div>
            <p>资产：</p><div th:text="${session.sessionUser.balance}"></div>
        </form>
    </div>
    <div id="action">
        <a href="/view/updateUser">修改用户</a>
    </div>



</div>

<div id="footer">
    @家庭财务管理系统
</div>
</body>
</html>