<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
    <link href="../css/login_style.css" type="text/css" rel="stylesheet" />
    <link href="../css/form-grey.css" type="text/css" rel="stylesheet" />
    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script  src="../js/login.js"></script>
</head>
<body>
<div class="heading"></div>
<div class="login-form">

    <form class="basic-grey">
        <h1>家庭财务管理系统·后台系统</h1>
        <span>账号：</span><input  id="username" type="text" /><br/>
        <span>密码：</span><input  id="password" type="password" />
    <div>
        <input type="button" id="login" value="登录"/><br/><br/>
        <input type="button" id="register" value="注册"/>
    </div>
    </form>
</div>

</body>
</html>