<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Title</title>
<link href="../css/mainWindow.css" type="text/css" rel="stylesheet" />
<!--<link href="../static/css/form-grey.css" type="text/css" rel="stylesheet" />-->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script th:inline="javascript" src="../js/mainWindow.js"></script>
<!--<link href="../css/mainWindow.css" type="text/css" rel="stylesheet" />-->
<!--<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>-->
<!--<script  src="../js/mainWindow.js"></script>-->
</head>
<body>

<div id="header">
    <div id="ioc"><img class="sign" src="../images/ioc.png" /></div>
    <h1>家庭财务管理系统</h1>
    <input type="button" class="btn btn-default" value="新增用户" th:onclick="'javascript:addUser()'"/>
</div>
<div class="content">
    <div id="nav">
    <div class="model" id="sign01"><img class="sign" src="../images/sign01.png" /><br/>系统类型管理<br/></div>
    <div class="model" id="sign02"><img class="sign" src="../images/sign02.png" /><br/>反馈管理<br/></div>
    <div class="model" id="sign03"><img class="sign" src="../images/sign03.png" /><br/>贴士管理<br/></div>
    <div class="model" id="sign04"><img class="sign" src="../images/sign04.png" /><br/>退出登录<br/></div>
</div>

<div id="section" class="div3">
    <div>
        <select id="typeId" class="form-control" th:onchange="'javascript:getType()'">
            <option value="1">日常用品</option>
            <option value="2">服装鞋帽</option>
            <option value="3">通讯费</option>
            <option value="4">医疗保健</option>
            <option value="5">休闲娱乐</option>
            <option value="6">人情支出</option>
            <option value="7">人情支出</option>
            <option value="8">美容健身</option>
            <option value="9">维修保养</option>
            <option value="10">维修保养</option>
            <option value="11">维修保养</option>
            <option value="12">生儿育女</option>
            <option value="13">慈善捐助</option>
            <option value="14">博彩支出</option>
            <option value="15">意外损失</option>
            <option value="16">其它支出</option>
            <option value="17">食物</option>
            <option value="18">交通</option>
            <option value="19">餐费</option>
            <option value="20">职业工薪</option>
            <option value="21">业余收入</option>
            <option value="22">人情收入</option>
            <option value="23">博彩收入</option>
            <option value="24">意外所得</option>
            <option value="25">租金收入</option>
            <option value="26">分红</option>
            <option value="27">其他收入</option>
            <option value="28">未分类</option>
        </select>
        <input type="text" class="form-control" id="typeName"/>
        <!--<input type="button" value="查询" th:onclick="'javascript:getType()'"/>-->
        <input type="button" value="添加" th:onclick="'javascript:addType()'"/>
    </div>
    <table class="table table-hover" style="border-collapse: 0" width="50%">
        <thead>
        <tr>
            <th>序号</th>
            <th>类型名称</th>
            <th>父类型</th>
        </tr>
        </thead>
        <tr th:each="type,iterStat : ${types}">
            <th th:text="${iterStat.count}"></th>
            <th th:text="${type.typeName}"></th>
            <th th:text="${type.basicTypeName}"></th>
        </tr>
    </table>
</div>

</div>

<div id="footer">
    @家庭财务管理系统
</div>
<script type="text/javascript">
    function addType() {
        var id = $("#typeId").val();
        var name = $("#typeName").val();
        $.ajax({
            url: "/manager/addType",
            data:{topTypeId:id,
                typeName:name},
            type:"post",
            success:function(date){
                if(date.code == 200){
                    alert("添加成功！");
                    window.location.href = "/manager/getTypes?condition="+id;
                }else {
                    alert(date.msg);
                }
            }
        });
    }
    function getType() {
        var id = $("#typeId").val();
        window.location.href = "/manager/getTypes?condition="+id;
    }


    function addUser() {
        $.ajax({
            url: "/manager/checkAdmin",
            type:"get",
            success:function(date){
                if(date.code == 200){
                    var userName=prompt("请输入账号","");
                    var password=prompt("请输入密码","");
                    $.ajax({
                        url: "/manager/addUser",
                        type:"post",
                        data:{userId:userName,
                            password:password},
                        success:function(date1){
                            if(date1.code == 200){
                                alert("创建成功！");
                                window.location.reload();
                            }else {
                                alert(date1.msg);
                            }
                        }
                    });
                }else {
                    alert(date.msg);
                }
            }
        });
    }
</script>
</body>
</html>